*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}
body{
    background-color:#000;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-image: url(https://img.freepik.com/free-photo/low-angle-view-unrecognizable-muscular-build-man-preparing-lifting-barbell-health-club_637285-2497.jpg?w=1060&t=st=1701077619~exp=1701078219~hmac=5f0024f66791a3c60835b69e59c506502046a290a8a92ba32bbff809b9235c04);
    background-repeat: no-repeat;
    background-size: contain;
}
nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:rgb(1, 1, 14);
    padding: 22px;
    box-shadow: 0px 2px 6px 2px rgb(31, 30, 30);
    color: white;
    z-index: 999;

}
nav ul li a{
    margin-inline: 22px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.595);
}
ul li{
    list-style: none;
}
nav ul{
    margin-right: 63px;
    margin-top: 6px;
}
.logo{
    font-size: 25px;
    margin-left: 33px;
    color: #ade8f4;
}
#logo{
  color: #fff;
}
ul li button{
    width: 100px;
    height: 33px;
    background-color: #457b9d;
    color: white;
    font-size: 18px;
    border: 1px solid  #457b9d;
    border-radius:0.15rem;
}
button{
    border: 1px solid  rgb(18, 19, 18);
    border-radius:0.15rem;
    background-color: #457b9d;
}

 ul li button:hover{
    border: 2px solid white;
    background-color: transparent;
    color: #91e1f1;
    cursor: pointer;
 }
  ul li a:hover{
    color: #94e9fa;

  }
  .tracker button{
    position: absolute;
    left:35%;
    padding:15px 180px ;
    font-size: 25px;
    font-weight: 600;
    background-color: #457b9d;
    border: none;
    border-radius: 0.25rem;
  }
  .tracker button:hover{
    border: 1px solid black;
    background-color: rgba(210, 208, 208, 0.5);
    color: #91e1f1;
    cursor: pointer;
 }
  .tracker{
    margin-bottom: 100px;
    color: #fff;

  }
  .tracker a {
    color:#fff;

  }

  /* main */

  .home{
    display: flex;
    justify-content: center;
    height: 80vh;
  }
  .home img{
    width: 59%;
    margin-top: 130px;
    margin-left: -174px;
  }
  .home .homeText{
    margin-top: 200px;
    margin-left: 44px;
  }
  .homeText h1{
    font-size: 85px;
    color: #ade8f4;
  }
  .homeText h3{
    margin-top: 22px;
    font-size: 22px;
  }
  .homeText p{
    margin-top: 22px;
    color: silver;
  }
  .homeText button{
    margin-top: 22px;
    font-size: 22px;
    width: 140px;
    height: 40px;
    background-color: #457b9d;
    color: white;
    border: none;
  }
  .homeText button:hover{
    border: 2px solid white;
    background-color: transparent;
    color: #00b4d8;

  }
  .scroll{
    position: fixed;
    left: 20%;
    z-index: 999;
    top: 90%;

  }

  .head{
    text-align: center;
    margin: 75px 95px;
    font-size: 20px;
  }
  .head span{
    color: #00b4d8;
  }
  .ourProgram{
    display: flex;
    justify-content: center;
  }
  .ourProgram .crd{
    margin-inline: 22px;
    text-align: center;
  }
  .ourProgram .crd img:hover{
    width: 103%;
  }

  /* plan */
  section{
    background-color: #000;
    height: 625px;
    margin-top: 50px;
  }
  hr{
    height: 1px;
    background-color: rgb(45, 44, 44);
    border: rgb(60, 60, 60) ;
    box-shadow: 3px 0px 0px 0px rgb(188, 188, 188);
  }
  .ourPlan{
    display: flex;
    justify-content: center;
  }
  .ourPlan .box{
    width: 300px;
    height: 350px;
    padding: 4px;
    background-color: rgb(36, 35, 35);
    text-align: center;
    margin-inline: 22px;
  }
  .box i{
    font-size: 22px;
    margin-top: 22px;
    color: orange;
  }
  .box h3{
    margin-top: 22px;
    color: #ade8f4;

  }
  .box h1{
    margin-top: 22px;
    color: #ade8f4;
    filter: brightness(5px);
  }
  .box p{
    margin-top: 12px;
    color: silver;
    filter: brightness(5px);
  }
  .box button{
    margin-top: 22px;
    width: 130px;
    height: 38px;
    background-color: orange;
    border: none;
    color: white;
    font-size: 18px;
  }
  .box button:hover{
    border: 2px solid white;
    background-color: transparent;
    color: #457b9d;
    cursor: pointer;
  }
  .box:hover{
    transition: 0.2s ease;
    width: 310px;
    height: 350px;
    background-color: rgb(36, 35, 35);
    font-size: 19px;
    cursor: pointer;

  }

  /* blog */
  .ourBlog{
    display: flex;
    justify-content: space-evenly;
    margin:0px 50px;
  }
  .ourBlog .blogbox{
    width: 300px;
    height: 400px;
    margin-inline: 22px;
    background-color: rgb(42, 41, 41);
     
  }
  .blogbox img{
    width: 100%;
    height:60%;
  }
  .blogbox p{
    margin-top: 22px;
    padding: 5px 5px 5px;
  }
  .blogText a{
    text-decoration: none;
    width: 90px;
    padding: 2px 0px 2px 10px;
    background-color: #457b9d;
    color: white;
    position: absolute;
    margin-top: 22px;
    margin-left: 2.5px;
    cursor: pointer;
    font-size: 0.75rem;
    display: flex;
    flex-wrap: wrap;

  }
  .blogText{
    margin-top: 11px;
    margin-left: 6px;
  }
  .blogText h3{
    margin-top: 11px;
    margin-left: 6px;
  }

  /* cantact */
  .contactPage{
    display: flex;
    justify-content: space-evenly;

  }
  
  .contactPage img{
    height:450px;
    position: relative;
    left:-80px;
    top:-160px;
    filter: opacity(70%);

  }
  .contact-us{
    text-align: center;
    margin-top: 100px;
    position: relative;
    right:18%;

  }
  .con{
    height:500px
  }
  .contact-us input{
    width:350px;
    height:38px;
    display: block;
    margin-top: 10px;
    background-color: #565656;
    border: none;
    border-radius: 0.15rem;
    padding: 5px 10px;
    margin-bottom: 10px;
  }
  .contact-us button{
    width:370px;
    height:35px;
    font-size:1rem;
    padding:5px 10px;
  }
  .contact-us button:hover{
    border: 2px solid white;
    background-color: transparent;
    color: #457b9d;
  }
/* Footer */
  .footer{
    display: flex;
    justify-content: center;
    margin-top: 53px;
    padding: 22px;
    box-shadow: 0px 2px 6px 4px rgb(36, 36, 36);
  }
  .footer .footerText{
    margin-inline: 73px;
    margin-top: 33px;
  }
  .footerText p{
margin-top: 11px;
color: silver;
  }