*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    overflow-x: hidden;
}
body {
    background-image: url(https://img.freepik.com/free-photo/gym-with-dumbbells-floor_1340-37013.jpg?size=626&ext=jpg);
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:rgb(1, 1, 14);
    padding: 22px;
    box-shadow: 0px 2px 6px 2px rgb(31, 30, 30);
    color: white;
    z-index: 999;

}
nav ul li a{
    margin-inline: 22px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.595);
    font-size: 1.15rem;
}
ul li{
    list-style: none;
}
nav ul{
    margin-right: 80px;
    margin-top: 6px;
}

 
ul li a:hover{
    color: #94e9fa;

}
.logo{
    font-size: 25px;
    margin-left: 33px;
    color: #ade8f4;
}

.container {
    max-width: 800px;
    margin: 130px auto;
    padding: 40px;
    color: #fff;
    background-color: #fff;
    background-color:rgba(0, 0, 0, 0.3) ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-item {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #457b9d;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #457b9d;
}

#exercise-list {
    margin-top: 30px;
}
.footer{
    display: flex;
    background-color: #000;
    justify-content: center;
    margin-top: 200px;
    padding: 22px;
    box-shadow: 0px 2px 6px 4px rgb(36, 36, 36);
}
.footer .footerText{
    margin-inline: 73px;
    margin-top: 33px;
}
.footerText p{
    margin-top: 11px;
    color: silver;
}